@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

:root {
    --pr-blue: #14213D;
    --pr-rose: #F1A3A7;

    --ne-background-white: #F5F5F5;
    --ne-background-gray: #C2C2C2;
    --ne-text-grayish: #D9D9D9;

}

/* universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--ne-background-white);

    min-height: 100vw;
    max-width: 100vw;

    margin: 0 auto;
}

footer {
    background-color: var(--ne-background-gray);
}

/* typography */
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--pr-blue);

    border: 1px red solid;
}

a {
    color: var(--pr-blue);
    text-decoration: none;
}

strong {
    color: var(--pr-rose);
}


/* nav */
nav {
    display: flex;
    height: 4rem;
    width: 100%;

    margin: 1.5rem auto;
    padding: 0 8rem;
    position: absolute;
    left: 0;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar img {
    height: 100%;
}

.navbar-left {
    justify-content: flex-start;
    gap: 5rem;
    /* background: yellow; */
}

.navbar-right {
    justify-content: flex-end;
    gap: 2rem;
}

/* header */
header {
    height: 712px;
        
    background: url('/images/png/image\ 1.png');
    background-size: cover;
    background-position: 0px -45px;
}

.header-text {
    text-align: end;
    position: absolute;
    top: 10rem;
    right: 8rem;
}

/* content */
.content-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    height: 600px;
    padding: 2rem 8rem;
}

.content-img-left,
.content-img-right {
    grid-column: span 2;
}

.content-img-1 {
    background: url('/images/png/image\ 2.png');
    background-size: cover;
}

.content-img-2 {
    background: url('/images/png/image\ 3.png');
    background-size: cover;
}

.content-img-3 {
    background: url('/images/png/image\ 4.png');
    background-size: cover;
}

.content-img-4 {
    background: url('/images/png/image\ 5.png');
    background-size: cover;
}

.content-text-right,
.content-text-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}