@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

:root {
    --pr-blue: #14213D;
    --pr-rose: #F1A3A7;

    --ne-background-white: #F5F5F5;
    --ne-background-gray: #C2C2C2;
    --ne-text-grayish: #D9D9D9;

}

/* universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--ne-background-white);

    min-height: 100vw;
    max-width: 100vw;

    margin: 0 auto;
}

/* typography */
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--pr-blue);
}

a {
    color: var(--pr-blue);
    text-decoration: none;
}

header>h1 {
    font-weight: 400;
}

strong {
    color: var(--pr-rose);
}


/* nav */
.navbar{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: fixed;

    padding: 0 8rem;

    width: 100%;
}

.navbar_logo{
    display: flex;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
    width: 100%;
    /* max-width: 1300px; */
    margin: 0 auto;
    /* margin-top: 2em; */
    padding: 0 20px;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
    width: 100%;
}

#navbar_logo_and_name{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    margin-top: 1em;
    

    text-decoration: none;

    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;

    color: #14213D;
}

#navbar_logo_name{
    padding-left: 1.6rem;
}

/* .fa-gem{
    margin-right: 0.5rem;
} */

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    font-family: 'Montserrat';
    font-weight: bold;
    color: var(--pr-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 0.5rem;
    height: 100%;
    text-transform: uppercase;
}

#search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 20px;
    border-radius: 25px;
}

.navbar:hover{
    background: rgba(245,245,245,0.5);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 960px) {
    .navbar_container{
        display:flex;
        justify-content:space-between;
        height:40px;
        z-index:1;
        width:100%; 
        padding:0;
    }
    .navbar_menu{
        display:grid;
        grid-template-columns:auto;
        margin:0;
        width:100%;
        position:absolute;
        top:-1000px;
        opacity:0;
        transition:all 0.5s ease;
        height:53vh;
        z-index:-1;
        background:rgb(255,255,255);
    }
    .navbar_menu.active{
        background:#E5E5E5;
        top:100%;
        opacity:1;
        transition:all 0.5s ease;
        z-index:99;
        height:60vh;
        font-size:1rem;
    }
       
    /* #navbar_logo{
        display: none;
    } */

    /* #navbar_logo_name{
        text-align: center;
        align-items: center;
        justify-content: center;
    } */

    .navbar_toggle .bar{
        width:25px;
        height:3px;
        margin:5px auto;
        transition:all 0.3s ease-in-out;
        background:#fff;
    }
    .navbar_item{
        width:100%;
        height: 20%;
    }
    .navbar_links{
        text-align:center;
        padding:1.5rem;
        width:100%;
        display:table;
    }
    #mobile-menu{
        position:absolute;
        top:20%;
        right:5%;
        transform:translate(5%,20%);
    }
    #search{
        display: none;
    }
    .navbar_toggle .bar{
        display:block;
        cursor:pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity:0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform:translateY(8px)rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform:translateY(-8px)rotate(-45deg);
    }
}

/* header */
header {
    height: 100vh;
        
    background: url('./images/png/image\ 1.png');
    background-size: cover;
    background-position: 0px -45px;
}

header>h1 {
    text-align: end;
    position: absolute;
    top: 10rem;
    right: 8rem;
}

/* content */
.content-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    height: 600px;
    padding: 2rem 8rem;
/*  border-bottom: var(--pr-blue) solid 2px; */
}

.content-img-left,
.content-img-right {
    grid-column: span 2;
}

.content-img-1 {
    background: url('./images/png/image\ 2.png');
    background-size: cover;
}

.content-img-2 {
    background: url('./images/png/image\ 3.png');
    background-size: cover;
}

.content-img-3 {
    background: url('./images/png/image\ 4.png');
    background-size: cover;
}

.content-img-4 {
    background: url('./images/png/image\ 5.png');
    background-size: cover;
}

.content-text {
    gap: 0.5rem;
}

.content-text-right,
.content-text-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--pr-blue);
    font-size: 10px;
    
    border: var(--pr-blue) 1px solid;
    border-radius: 25px;
    padding: 8px 30px;
    color: var(--ne-text-grayish);
}

.btn-content-main:hover {
    background-color: var(--ne-background-white);
    color: var(--pr-blue);
}

/* promo */
.promo {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 500px;

    margin: 2rem auto;
    padding: 0 8rem;
}

.promo img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

/* footer */

footer {
    background :var(--ne-background-gray);
    font-family: 'Montserrat';
    color: #14213D;

    margin-top: 4rem;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 18rem;
}

.infomation_content{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.infomation_content_links{
    text-decoration: none;
    color: #14213D;
}

.followus_content{
    display: flex;
    grid-gap: .8em;
}

.subscribe_content{
    display: flex;
    grid-gap: .8em;
    
}

#email{
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    display: flex;
    padding: 4px 20px;
    width: 70%;
    height: 80%;
}

.btn_subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:#14213D;
    font-size: 10px;
    
    border-radius: 25px;
    padding: 4px 20px;
}

.btn_subscribe button{
    color:#E5E5E5;
    background: transparent;
    border: none;
    font-size: 8px;
}

.footer_container_content p{
    font-size: 20px;
}

.about_content{
    align-items: center;
    padding: 0 18rem;
}

.about_text{
    text-align: center;
}

.copyright_content{
    align-items: center;
    padding: 1rem 8rem;
}

.copyright_text{
    text-align: center;
    font-weight: bold;
}